@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (min-width: 601px) {
  nav {
    height: 64px;
    line-height: 64px;
  }
}

@media only screen and (min-width: 0) {
  html {
    font-size: 14px;
  }
}
